/* VARIABLES*/
:root {
  --page-padding: 2rem;
  --links-color: rgba(128, 128, 128, 0.891);
  --color-primary: rgba(51, 246, 181, 0.837);
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Class Styling*/
.btn {
  outline: none;
  border: none;
  background-color: rgba(51, 246, 181, 0.837);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50px;
  color: #fff;
  width: 100%;
  transition: all 0.7s linear;
  cursor: pointer;
}
.btn:hover {
    transform: scale(1.03);
}

/* Element styling */
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STYLNG */
/* Navigation */

nav {
  outline: 1px solid red;
  height: 5rem;
  padding-inline: var(--page-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

nav .navBrand {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Later Akorede will work on this */
nav .nav-menu {
  display: none
}

/* Button*/
nav .btn {
  display: ;
}

/* Hamburger styles*/
nav .hamburger {
  display: block;
  cursor: pointer;
  background-color: #dbe2e93e;
  width: 60px;
  padding-block: 12px;
  border-radius: 50%;
}

/* Hamburger bar style */
nav .hamburger .bar {
  display: block;
  width: 40%;
  height: 2px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: grey;
}

/* When active: animates to close btn shape */
nav .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
nav .hamburger.active .bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
nav .hamburger.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
nav .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color:;
    margin-top: 50px;
}
.nav-menu li {
    padding: 25px 20px;
    font-size: 20px;
    color: var(--links-color);
    font-weight: 700;
}
.nav-menu li:hover {
  
}

.section1{
  padding-top: 50px;
  width: 350px;
  margin: 0 auto;
}

.section1 h1{
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
}

span{
  font-size: 35px;
  font-weight: bolder;
  display: inline-block;
}

.section-text{
  font-size: 17px;
}

.second-letter{
  color: var(--color-primary);
}

